.itemCont {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.btnCont {
    display: flex;
}

.paper {
    padding: 20px;
}

.input {
    margin-bottom: 10px !important;
}

@media only screen and (max-width: 1000px) {
    .itemCont {
        width: 100%;
    }
}